.counter-display{
    text-align: center;
    margin-top: 100px;
}

.counter-display div{
    display: inline-block;
    font-size: 150px;
    background: black;
    color: white;
    width: 150px;
    margin: auto;
}
.bi-clock{
    width: 80px;
    height: 80px;
    padding-bottom: 20px;
}